body,
html {
  box-sizing: border-box;
  margin: 0 auto;
}

.content {
  background-image: url(../glassesImg/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}

.header {
  background-color: black;
  opacity: 0.8;
}

.header .title {
  color: white;
}

.model-section {
  display: flex;
  justify-content: space-around;
}

.model-right {
  position: relative;
}

.model-items img {
  margin: 20px auto;
  width: 43%;
}

.overlay-items {
  position: absolute;
  bottom: 20px;
  left: 0;
}

.overlay-items img {
  width: 25%;
  opacity: 0.75;
}

.overlay-items .item-content {
  margin-left: 5px;
}

.overlay-items .item-title {
  font-size: 15px;
  font-weight: 500;
}

.overlay-items .item-detail {
  background-color: orange;
  color: rgb(0, 0, 97);
  margin-top: 63px;
  margin-left: 136px;
  width: 43%;
  opacity: 0.6;
}

.item-detail .item-desc {
  margin-top: 3px;
  font-size: 13px;
}

.glasses-section {
  margin-top: 165px;
}

.glasses-section .row {
  background-color: whitesmoke;
  width: 85%;
  padding: 30px;
  margin: 25px auto;
}

.glasses-item img {
  margin: 15px;
  width: 80%;
  cursor: pointer;
}

/* responsive */
@media (max-width: 915px) {
  .overlay-items .item-detail {
    margin-top: 30px;
    margin-left: 125px;
  }
}

@media (max-width: 500px) {

  .overlay-items .item-detail {
    width: 43%;
    margin-top: 20px;
    margin-left: 69px;
  }
  .overlay-items .item-title,
  .overlay-items .item-desc {
    font-size: 7px;
  }
}
